[Desktop Entry]
Name=System Updater
Comment=Update Arch Linux and AUR packages
Exec=/home/nooreldean/.config/waybar/scripts/update_system.sh
Icon=system-software-update
Terminal=true
Type=Application
Categories=System;Settings;
Keywords=update;upgrade;pacman;yay;
