[Desktop Entry]
Name=System Cleaner
Comment=Clean package cache and unused flatpaks
Exec=bash /home/nooreldean/scripts/system-cleanup.sh
Icon=user-trash
Terminal=true
Type=Application
Categories=System;Utility;
Keywords=clean;trash;cache;yay;pacman;
