@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
    font: "JetBrainsMono Nerd Font 15";
    background-color: transparent;
    text-color: @foreground;
}

window {
    width: 450px;
    background-color: #0D0C0EE6; /* 90% opacity */
    border: 2px;
    border-color: @selected-normal-background;
    border-radius: 20px;
    padding: 15px;
}

mainbox {
    children: [ prompt, listview ];
    spacing: 15px;
}

prompt {
    font: "JetBrainsMono Nerd Font Bold 16";
    text-color: @selected-normal-background;
    padding: 5px;
    horizontal-align: 0.5;
}

listview {
    lines: 6;
    columns: 1;
    scrollbar: false;
    spacing: 5px;
    dynamic: true;
}

element {
    padding: 12px 15px;
    border-radius: 12px;
}

element selected {
    background-color: @selected-normal-background;
    text-color: @selected-normal-foreground;
}

element-text {
    horizontal-align: 0;
    expand: true;
    text-color: inherit;
}
